@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  text-align: center;

  background-color: var(--pale-blue);
}

main {
  width: 90%;
  max-width: 330px;
  max-height: 565px;

  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 375px) {
  main {
    max-width: 450px;
    max-height: 700px;
  }

  body {
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
  }
}

/* top of the card */

.img-hero {
  max-width: 100%;

  object-fit: cover;
}

/* content of the card */

h1 {
  font-size: 1.35rem;
  font-weight: 900;
  margin: 1.2rem 0 1rem 0;
}

.content-regular {
  color: var(--desaturated-blue);
  width: 80%;
  margin: 0 auto;

  line-height: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1.75rem auto;
  background-color: var(--very-pale-blue);
  width: 85%;
  border-radius: 10px;
  padding: 1em;

  font-size: 0.95rem;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.title-annual-plan {
  font-weight: 700;
  text-align: center;
}

.subscription-price {
  font-size: 0.9rem;
  color: var(--desaturated-blue);
}

.btn-change {
  display: inline-block;
  color: var(--bright-blue);
  font-size: 0.8rem;
  font-weight: 700;
}

.btn-change:hover,
.btn-change-focus {
  cursor: pointer;
  opacity: 70%;
}

@media (min-width: 375px) {
  h1 {
    font-size: 1.75rem;
    margin: 2.5rem 0 1.25rem 0;
  }
  .container {
    width: 80%;
    padding: 1.7em;
  }

  .price {
    padding-left: 1.5em;
  }
}

/* bottom of the card */

.btn-payment {
  display: inline-block;
  width: 85%;

  background-color: var(--bright-blue);
  padding: 0.85em;
  border-radius: 10px;

  color: white;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-payment:hover,
.btn-payment:focus {
  cursor: pointer;
  opacity: 70%;
}

.btn-cancel {
  display: inline-block;
  width: 85%;
  color: var(--desaturated-blue);
  font-weight: 700;
  text-decoration: none;
  margin: 1.5rem 0;
}

.btn-cancel:hover,
.btn-cancel:focus {
  color: black;
}

@media (min-width: 375px) {
  .btn-payment {
    width: 80%;
  }

  .btn-cancel {
    margin: 2rem 0 2.5rem 0;
  }
}
